@charset "UTF-8";
/* 统一存放网站全局变量的地方 */
/* color */
$c0: #000;
$c51: #333;            // 51
$c102: #666;           // 102
$c117: #757575;        // 117
$c170: #aaa;           // 170
$c153: #999;           // 153
$c223: #dfdfdf;        // 223
$c242: #f2f2f2;        // 242
$c255: #fff;           // 255
$c-primary: #fff;      // 255 128 0
$c-danger: #F14545;    // 217 0 0
$c-hot:#F35B5B;
$c-warning: #fadc5a;   // 250 220 90
$c-success: #8fb259;   // 143 178 89
$c-font: #7a7a7a;         // 25 43 51
$c-info: #4f9dff;         // 0 170 238
// $c-active: #ff8000;

/* font */
$ft10: .1rem;
$ft12: .12rem;
$ft14: .14rem;
$ft16: .16rem;
$ft18: .18rem;
$ft20: .2rem;
